# Ambientes Virtuais
.venv/
venv/
env/
.env

# Jupyter Notebooks
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so

# VS Code / IDEs
.vscode/
.idea/

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db
